
<div class="container bg-light">
    <a href="/events/add" class="btn col-md-2 offset-1 mt-3 btn-success">Add Event</a>
    <a href="/events/all" class="btn col-md-2 offset-1 mt-3 btn-success">All Events</a>

</div>
