<div>

    {{# each data as |event| }}
        {{event.name}}
    <br>
        {{# each event.catg as |category|}}
            {{category}}
            <br>
        {{/each}}
        {{event.incharge}}
    <br>
        {{event.phn}}
    {{/each}}
</div>