
<div class="container bg-light my-4">

        <div class="row my-4">
            <div class="col-md-3 offset-md-4 my-4">
                <p class="my-4">Registered Successfully</p>
            <a href="/" class="col-md-3 btn btn-success offset-md-2">Back To Home</a>
            </div>
        </div>



</div>